@import
url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: cornsilk;
}
.header{
    position: revert;
    flex-grow: 1;
}
.toggle{
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 2;
}
.toggle a{
    text-decoration: none;
    color: #262626;
    font-size: 24px;
    cursor: pointer;
}

.menu{
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 40%;
    width: 100%;
    height: 100%;
    background: cornsilk;
    z-index: 1;
    transition: 0.5s;
}
ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
}
ul li{
    padding: 10px;
    display: inline-block;
    font-family: "Arial Narrow";
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}


